@model decimal?
@{
    ViewData["Title"] = "Συνολική Βαθμολογία";
}

<h2>Συνολική Βαθμολογία</h2>

@if (Model == null)
{
    <div class="alert alert-info">Δεν υπάρχει ακόμα κανένας καταχωρημένος βαθμός.</div>
}
else
{
    <div class="alert alert-success">Μέσος Όρος: <strong>@Model</strong></div>
}
